{% extends 'forum/base.html' %}
{% load static %}
{% block content%}
<div class="main-content">
    <div class="latest-threads">
        {% if user.is_authenticated %}
        <div class="add-thread-box">
            <a class="add-thread-btn" href={% url 'add-thread' %}>Add Thread</a>
        </div>
        {% endif %}
        <h2>Latest {{forum.title}} Threads</h2>
        {% if threads %}
        {% for thread in threads %}
        <div class="thread-teaser">
        <a href="{% url 'thread' thread.forum thread.slug %}">{{thread.title}}</a>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}