{% extends 'forum/base.html' %}
{% load static %}
{% block content%}
<div class="main-content">
{% comment %}  <div class="card-wrapper">
        <div class="card">
            <img class="card-image" src={% static "forum/images/sunrise_philly.jpg" alt="card image" %} />
            <p>Example Title For Example Card</p>
        </div>
        <div class="card">
            <img class="card-image" src={% static "forum/images/sunrise_philly.jpg" alt="card image" %} />
            <p>Example Title For Example Card</p>
        </div>
        <div class="card">
            <img class="card-image" src={% static "forum/images/sunrise_philly.jpg" alt="card image" %} />
            <p>Example Title For Example Card</p>
        </div>
        <div class="card">
            <img class="card-image" src={% static "forum/images/sunrise_philly.jpg" alt="card image" %} />
            <p>Example Title For Example Card</p>
        </div>
    </div> {% endcomment %}
    <div class="latest-threads">
        {% if user.is_authenticated %}
        <div class="add-thread-box">
            <a class="add-thread-btn" href={% url 'add-thread' %}>Add Thread</a>
        </div>
        {% endif %}
        <h2>Latest Threads</h2>
        {% if latest_threads %}
        {% for thread in latest_threads %}
        <div class="thread-teaser">
        <a href="{% url 'thread' thread.forum thread.slug %}">{{thread.title}} by {{thread.author}} | {{thread.forum}}</a>
        </div>
        {% endfor %}
        {% endif %}
        {% if latest_threads.has_other_pages %}
        <div class="nav-container">
        <nav>
          <ul class="pagination justify-content-center">
            {% if latest_threads.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ latest_threads.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                  <span class="page-link" aria-hidden="true">&laquo;</span>
              </li>
            {% endif %}
    
            {% for p in latest_threads.paginator.page_range %}
              {% if latest_threads.number == p %}
                <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
              {% endif %}
            {% endfor %}
    
            {% if latest_threads.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ latest_threads.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&raquo;</span>
              </li>
            {% endif %}
        </ul>
        </nav>
    </div>
      {% endif %}
    </div>
</div>
{% endblock %}