{% load static %}
<div class="sidebar" id="mySidebar">
  <div class="sidebar-text-holder">
    <a href="/">
    <div class="logo">
    THE CITY FORUM
    </div>
  </a>
  <div class="link-container">

      {% if user.is_authenticated %}
      <div class="link-area">
      <a href="{% url 'profile' %}">Profile</a>
      </div>
      <div class="link-area">
      <a href="{% url 'logout' %}">Logout {{user}}</a>
      </div>
      {% else %}
      <div class="link-area">
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'sign-up' %}">Sign Up</a>
      </div>
      {% endif %}
    <div class="link-area">
      <a href="{% url 'forum' 'Development' %}">Development</a>
    </div>
    <div class="link-area">
      <a href="{% url 'forum' 'Transportation' %}">Transportation</a>
    </div>
    <div class="link-area">
      <a href="{% url 'forum' 'Politics' %}">Politics</a>
    </div>
    <div class="link-area">
      <a href="{% url 'forum' 'Sports' %}">Sports</a>
      </div>
    <div class="link-area">
      <a href="{% url 'forum' 'Other' %}">Other</a>
    </div>
  </div>
  </div>
  </div>