{% extends 'forum/base.html' %}
{% load static %}
{% block content%}
<div class="main-content">
    <div class="latest-threads">
    {% if user.is_authenticated %}
    <div class="add-thread-box">
        <a class="add-thread-btn" href={% url 'add-thread' %}>Add Thread</a>
    </div>
    {% endif %}
    <h1>{{thread.title}}</h1>
    <h3>Published at {{thread.created_at}} by {{thread.author}}</h3>
    <div class="thread-body">
    <p>{{thread.body|safe}}</p>
    </div>
    <div>
        <h3>Comments</h3>
        {% if user.is_authenticated %}
        <div>
            <h3>Add Comment</>
            <form method="POST">
                {% csrf_token %}
                {{ new_comment_form.media }}
                {{ new_comment_form.as_p }}
                <input class="submit-comment-btn" type="submit" value="Add Comment"/>
            </form>
        </div>
        {% endif %}
        {% if comments %}
        {% for comment in comments %}
        <div class="comment-container">
            <p>By {{comment.author}} at {{comment.created_at}}</p>
            <p>{{comment.body|safe}}</p>
        </div>
        {% endfor %}
        {% if comments.has_other_pages %}
        <div class="nav-container">
        <nav>
          <ul class="pagination justify-content-center">
            {% if comments.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ comments.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                  <span class="page-link" aria-hidden="true">&laquo;</span>
              </li>
            {% endif %}
    
            {% for p in comments.paginator.page_range %}
              {% if comments.number == p %}
                <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
              {% endif %}
            {% endfor %}
    
            {% if comments.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ comments.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&raquo;</span>
              </li>
            {% endif %}
        </ul>
        </nav>
    </div>
      {% endif %}
        {% else %}
        {% if user.is_authenticated %}
        <div>
            <p>No comments yet</p>
        </div>
        {% else %}
        <div>
            <p><a href="{% url 'login' %}">Login</a> to be the first to comment </p>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
</div>
{% endblock %}